body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('./img/mario-bg.jpg');
    background-size: cover;
    text-align: center;
}
#board {
    height: 35vmax;
    width: 35vmax;

    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;

    background: url('./img/soil.png');
    border-radius: 2vmax; 
    border: 0.50vmax solid white;
}
#board div {
    width: 11.33vmax;
    height: 11.33vmax;
    background: url('./img/pipe.png');
    background-size: cover;
}

#board div img {
    width: 7vmax;
    height: 7vmax;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

button{
    background: transparent;
    border: 0vmin;
}
h1, h2{
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}
@media (max-width: 480px) {
    #board{
        height: 90vmin;
        width: 90vmin;
    }
    #board div {
        width: 30vmin;
        height: 30vmin;
    }
    #board div img {
        width: 17vmin;
        height: 17vmin;
    }
}
